<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>主页</title>
        <link rel="shortcut icon" href="favicon.ico">
        <link href="stylesheets/bootstrap.min.css?v=3.3.6" rel="stylesheet">
        <link href="stylesheets/font-awesome.css?v=4.4.0" rel="stylesheet">
        <link href="stylesheets/animate.css" rel="stylesheet">
        <link href="stylesheets/style-main.css" rel="stylesheet">


        <!-- 全局js -->
        <script src="javascripts/jquery.min.js?v=2.1.4"></script>
        <script src="javascripts/bootstrap.min.js?v=3.3.6"></script>
        <script src="javascripts/plugins/layer/layer.min.js"></script>
        <!-- Flot -->
        <script src="javascripts/plugins/flot/jquery.flot.js"></script>
        <script src="javascripts/plugins/flot/jquery.flot.tooltip.min.js"></script>
        <script src="javascripts/plugins/flot/jquery.flot.resize.js"></script>
        <script src="javascripts/plugins/flot/jquery.flot.pie.js"></script>
        <!-- 自定义js -->
        <script src="javascripts/content.js"></script>
   </head>
    <body class="gray-bg">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row row-sm text-center">
                                <div class="col-xs-6">
                                    <div class="panel padder-v item">
                                        <div class="h1 text-info font-thin h1">521</div>
                                        <span class="text-muted text-xs">同比增长</span>
                                        <div class="top text-right w-full">
                                            <i class="fa fa-caret-down text-warning m-r-sm"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="panel padder-v item bg-info">
                                        <div class="h1 text-fff font-thin h1">521</div>
                                        <span class="text-muted text-xs">今日访问</span>
                                        <div class="top text-right w-full">
                                            <i class="fa fa-caret-down text-warning m-r-sm"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="panel padder-v item bg-primary">
                                        <div class="h1 text-fff font-thin h1">521</div>
                                        <span class="text-muted text-xs">销售数量</span>
                                        <div class="top text-right w-full">
                                            <i class="fa fa-caret-down text-warning m-r-sm"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="panel padder-v item">
                                        <div class="font-thin h1">$129</div>
                                        <span class="text-muted text-xs">近日盈利</span>
                                        <div class="bottom text-left">
                                            <i class="fa fa-caret-up text-warning m-l-sm"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>